name: Build and Push Docker Images

on:
  push:
    branches: [ main ]
  workflow_dispatch:

env:
  DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
  DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
  IMAGE_PRODUCT: product-service
  IMAGE_ORDER: order-service
  IMAGE_INVENTORY: inventory-service
  IMAGE_NOTIFICATION: notification-service
  IMAGE_API_GATEWAY: api-gateway
  IMAGE_DISCOVERY: discovery-service
  IMAGE_FRONTEND: frontend-app

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        distribution: temurin
        java-version: 21

    - name: Set up Node 18
      uses: actions/setup-node@v4
      with:
        node-version: '18'

    - name: Log in to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ env.DOCKERHUB_USERNAME }}
        password: ${{ env.DOCKERHUB_TOKEN }}

    # ----------------- Backend Microservices -----------------
    - name: Build and push Product Service
      working-directory: product-service
      run: |
        mvn clean package -DskipTests
        docker build -t $DOCKERHUB_USERNAME/$IMAGE_PRODUCT:latest .
        docker push $DOCKERHUB_USERNAME/$IMAGE_PRODUCT:latest

    - name: Build and push Order Service
      working-directory: order-service
      run: |
        mvn clean package -DskipTests
        docker build -t $DOCKERHUB_USERNAME/$IMAGE_ORDER:latest .
        docker push $DOCKERHUB_USERNAME/$IMAGE_ORDER:latest

    - name: Build and push Inventory Service
      working-directory: inventory-service
      run: |
        mvn clean package -DskipTests
        docker build -t $DOCKERHUB_USERNAME/$IMAGE_INVENTORY:latest .
        docker push $DOCKERHUB_USERNAME/$IMAGE_INVENTORY:latest

    - name: Build and push Notification Service
      working-directory: notification-service
      run: |
        mvn clean package -DskipTests
        docker build -t $DOCKERHUB_USERNAME/$IMAGE_NOTIFICATION:latest .
        docker push $DOCKERHUB_USERNAME/$IMAGE_NOTIFICATION:latest

    - name: Build and push API Gateway
      working-directory: api-gateway
      run: |
        mvn clean package -DskipTests
        docker build -t $DOCKERHUB_USERNAME/$IMAGE_API_GATEWAY:latest .
        docker push $DOCKERHUB_USERNAME/$IMAGE_API_GATEWAY:latest

    - name: Build and push Discovery Service
      working-directory: discovery-service
      run: |
        mvn clean package -DskipTests
        docker build -t $DOCKERHUB_USERNAME/$IMAGE_DISCOVERY:latest .
        docker push $DOCKERHUB_USERNAME/$IMAGE_DISCOVERY:latest

    # ----------------- Frontend Angular -----------------
    - name: Build and push Frontend Angular
      working-directory: frontend
      run: |
        npm install
        npm run build --prod
        docker build -t $DOCKERHUB_USERNAME/$IMAGE_FRONTEND:latest .
        docker push $DOCKERHUB_USERNAME/$IMAGE_FRONTEND:latest
