name: Build & Push Microservices to Docker Hub

on:
  push:
    branches: [ main ]
  workflow_dispatch:

env:
  DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
  DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ env.DOCKERHUB_USERNAME }}
          password: ${{ env.DOCKERHUB_TOKEN }}

      # --------- PRODUCT SERVICE ----------
      - name: Build & Push product-service
        working-directory: product-service
        run: |
          mvn clean package -DskipTests
          docker build -t $DOCKERHUB_USERNAME/product-service:latest .
          docker push $DOCKERHUB_USERNAME/product-service:latest

      # --------- ORDER SERVICE ----------
      - name: Build & Push order-service
        working-directory: order-service
        run: |
          mvn clean package -DskipTests
          docker build -t $DOCKERHUB_USERNAME/order-service:latest .
          docker push $DOCKERHUB_USERNAME/order-service:latest

      # --------- INVENTORY SERVICE ----------
      - name: Build & Push inventory-service
        working-directory: inventory-service
        run: |
          mvn clean package -DskipTests
          docker build -t $DOCKERHUB_USERNAME/inventory-service:latest .
          docker push $DOCKERHUB_USERNAME/inventory-service:latest

      # --------- NOTIFICATION SERVICE ----------
      - name: Build & Push notification-service
        working-directory: notification-service
        run: |
          mvn clean package -DskipTests
          docker build -t $DOCKERHUB_USERNAME/notification-service:latest .
          docker push $DOCKERHUB_USERNAME/notification-service:latest

      # --------- API GATEWAY ----------
      - name: Build & Push api-gateway
        working-directory: api-gateway
        run: |
          mvn clean package -DskipTests
          docker build -t $DOCKERHUB_USERNAME/api-gateway:latest .
          docker push $DOCKERHUB_USERNAME/api-gateway:latest

      # --------- DISCOVERY SERVICE ----------
      - name: Build & Push discovery-service
        working-directory: discovery-service
        run: |
          mvn clean package -DskipTests
          docker build -t $DOCKERHUB_USERNAME/discovery-service:latest .
          docker push $DOCKERHUB_USERNAME/discovery-service:latest
